<launch>
    <arg name="model" default="$(env TURTLEBOT3_MODEL)" />
    <arg name="gui" default="true" />

    <!-- Include the world to use-->
    <include
        file="$(find aws_robomaker_small_warehouse_world)/launch/no_roof_small_warehouse.launch">
        <arg name="gui" value="$(arg gui)" />
    </include>

    <include 
        file="$(find coop_robot)/launch/multiple_robot.launch">
        <arg name="model" value="$(arg model)"/>
    </include>

    <include 
        file="$(find coop_robot)/launch/multiple_robot_rviz.launch">
        <arg name="model" value="$(arg model)" />
    </include>
</launch>